body {
    box-sizing: content-box;
}

div {
    width: 600px;
    border: 2px solid #000000;
    border-radius: 50px;
    height: 70px;
    margin: 1%;
    /* margin: 12px 8px 4px 0; */
    padding: 2em;
    /* padding: 16px 12px 8px 4px; */
}

h2 {
    color: darkcyan;
}